/* Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Header */
  header {
    background-color: #2c3e50;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .logo img {
    height: 40px;
  }
    
  .danca {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
  }

  .danca a{
    color: aliceblue;
    display: contents;
    font-size: 16px;
    font-weight: bold;
    
 
    
    
  }
  button:hover {
    background-color: chocolate;
}
button {
    background-color: #16406c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}

  
  /* Dashboard */
  .dashboard {
    display: flex;
    height: calc(100vh - 60px); /* Adjust for header height */
  }
  .opcao{
    display: flex;
    flex-direction: column;
  }
  .opcao button:hover {
    background-color: chocolate;
    
  }
  
.sidebar img{
  width: 200px;
  height: 200px;
  }
  .sidebar {
    width: 20%;
    background-color: #16406c;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .sidebar p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .main-content {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ecf0f1;
  }
  
  .main-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .kpis {
    display: flex;
    gap: 20px;
  }
  
  .kpi-card {
    flex: 1;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .kpi-card h3 {
    font-size: 18px;
    color: #16406c;
  }
  
  .kpi-card p {
    font-size: 24px;
    color: #27ae60;
    margin-top: 10px;
  }
  

